<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">sdasdadas</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-4" *ngIf="!loading; else loadingBlock;">
        <div class="card mb-4 shadow-sm overflow-auto">
          <div class="card-body">
            <h5 class="card-title">{{todo.theme}}</h5>
            <p class="card-text">{{todo.text}}</p>
            <p>Приоритет: <strong>{{todo.priority}}</strong></p>
            <p>Дедлайн: <strong>{{todo.deadline}}</strong></p>
          </div>
        </div>
      </div>
      <ng-template #loadingBlock>Загрузка...</ng-template>

    </div>
  </div>
</div>
